_minted-thesis
.DS_Store
*~
*.dvi
*.log
*.bak
*.aux
*.toc
*.ps
*.eps
*.blg
*.bbl
*.glg
*.glo
*.gls
*.idx
*.ild
*.ind
*.ist
*.ilg
*.iso
*.out
*.pstex
*.pstex_t
thesis.run.xml
thesis.bbl
thesis.glsdefs
